# NETWORK_TIMEOUT_MS sets the timeout for network requests (connect, read, write, etc.) in milliseconds.
NETWORK_TIMEOUT_MS=60000

# HTTP_SERVER_IP_ADDRESS sets the IP address that is to be used in the Downloads screen's network interface list.
# If not specified, the app will iterate over all available network interfaces and populate the list with those IP addresses.
# Useful if you've to use port forwarding to reach the HTTP server, because the generated QR code will contain the intended address.
HTTP_SERVER_IP_ADDRESS=192.168.0.11

# HTTP_SERVER_TCP_PORT sets the HTTP server's TCP port instead of getting a random one (which is the default behaviour).
HTTP_SERVER_TCP_PORT=23847

# While splitting collected files into batches, the BATCH_LIMIT parameter stops this process once this number of batches has been reached.
# A value of zero disables the limit.
BATCH_LIMIT=1

# The filesystem scanner stops, when the number of collected readable files reaches this limit.
# A value of zero disables the limit.
FILE_COUNT_LIMIT=1000

# Whether the app's logger should feed the logs to the Android system logger as well (besides writing them to the log file).
LOG_TO_SYSTEM=false
